* {
    box-sizing: border-box;
    margin: 0;
  }

 html {
  font-family: montserrat, sans-serif;
 } 


img {
    width: 100%;
  } 
  
a {
    text-decoration: none;
    color: inherit;
  }

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}   
  
  .main-item {
    background-color: #e3e3e3;
  }