/* BODY */

.main-layout {

    flex-direction: column;
    grid-template-columns: 
    minmax(var(--layout-padding), 1fr)
    minmax(auto,var(--main-content-width))
    minmax(var(--layout-padding), 1fr);
    
}



/* main header and footer layout*/
.main-layout > .full{
    grid-column: 1 / -1;
}

/*main content & header and fotter contents layout*/
.main-layout > *:not(.full){
    grid-column: 2;
}

.main-content > :nth-child(1){
    margin-block-start: var(--main-layout-bottom-gaps);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    background-color: #e3e3e3;
    grid-gap: 20px;
    width: 100%;
}

.main-item {
    background-color: #e3e3e3;
    width: 100%;
    /* flex-grow: 1; */
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    align-items: center;
    justify-items: center;
}

