.flex {
    display: flex;
    align-items: center;
  }
  
  .grid {
    display: grid;
  }
  
  .hidden {
    display: none;
  }
  
  .clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .active {
    color:black;
  }