/* EDITOR */
.editor .controls-container {
    font-family: inherit;
    justify-self: center;
    /* align-self: start; */
    font-size: 1.25rem;
    gap: 2.1em;
}

.controls-container .line-nav {
    flex-direction: column;
    gap: 0.6em;
}


.controls-container input {
    font-size: inherit;
    font-family: inherit;
    grid-column: span 4;
    width: 18.65em;
    height: 3em;
    text-align: center;
    border-radius: 0.6em;
    border-style: none;
    background-color: #ffffff;
}

.controls-container .text-edit {
    justify-self: center;
}

.controls-container ul{
    gap: var(--editor-buttons-gap);
}

.controls-container button {
    font-size: inherit;
    width: 3em;
    height: 3em;
    border-radius: 0.6em;
    border-style: none;
    background-color: #ffffff;
}

.save-download-btns {
    justify-content: end;
    gap: 1em;
}

.controls-container button.save-to-local-btn {
    background-color: #ff7f00;
    color: #ffffff;
}

.controls-container .download-link {
    font-size: inherit;
    width: 6.5em;
    height: 3em;
    justify-self: end;
    border-radius: 0.6em;
    background-color: #ff7f00;
    display: grid;
    align-items: center;
    justify-items: center;
    color: #ffffff;
}
   


.lines-manage button img {
    width: 65%;
    height: 65%;
}

.text-edit .font-size button img {
    width: 64%;
    height: 45%;
}

.text-edit .font-fill button img {
    width: 65%;
    height: 51%;
}

.editor .canvas-container {
    width: 100%;
    height: 100%;
}

.canvas-container {
    display: grid;
    align-content: center;
    justify-content: center;
}



/* Pallete */
.color-picker:not(.hidden) {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    grid-gap: 2px;
    width: 160px;
    border: 1px #dee2e6;
    border-radius: 4px;
    box-shadow: 0 0 0 0.2rem rgba(66, 67, 67, 0.25);
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.color:hover {
    box-shadow: 0 0 0 0.2rem rgba(66, 67, 67, 0.25);
}