.main-header{
    background-color: #ff7f00;
    width: 100%;
    height: var(--main-header-height);
}

.main-header button {
    font-family: inherit;
    border: 0;  
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.18rem;
}


.main-nav{
    gap: 1rem;
}
.main-nav button.active {
    color: #000000;
}

.main-footer{
    background-color: #ff7f00;
    width: 100%;
    height: var(--main-footer-height);
    row-gap: 1rem;
    justify-items: center;
}

.main-footer .logo {
    align-self: end;
}

.main-footer small {
    align-self: start;
    color: #ffffff;
    font-size: 1.18rem;
    font-weight: 100;
}