.main-header{
    background-color: #ff7f00;
    width: 100%;
    height: var(--main-header-height);
}

.main-header button {
    font-family: inherit;
    border: 0;  
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.18rem;
}

.main-footer{
    background-color: #ff7f00;
    width: 100%;
    height: var(--main-footer-height);
}