:root {
    --l: 980px;
    --m: 820px;
	--s: 600px;
    --layout-padding: 0.1rem;
    --main-content-width: 98%;
    --main-header-height: 4.1rem;
    --main-footer-height: 12.93rem;
    --main-content-block-padding: 1.55rem;
    --editor-buttons-gap:1.125rem;
    --screen-min-width: var(--l);
    --main-content-ratio: 2;
}